.advantages-item {
  position: relative;
  text-align: center;

  &:first-child::before {
    content: "";
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 37px;
    position: absolute;
    right: 50%;
    top: 0;
    transform: translate(50%, 0);
    min-width: 320px;
  }

  &--grey {
    padding: 0 20px;
  }

  @media (min-width: $tablet-width) {
    &:first-child::before {
      display: none;
    }

    &--grey {
      padding: 0;
      padding-top: 46px;
      padding-bottom: 46px;
    }
  }

  @media (min-width: $desktop-width) {
    &--grey {
      padding-top: 0;
      padding-bottom: 28px;
    }
  }
}

.advantages-item__wrapper {
  background-color: #81b3d2;

  &--grey {
    background-color: #eeeeee;
    border-bottom: 1px solid #d6d6d6;
  }

  @media (min-width: $tablet-width) {
    display: flex;

    &--grey {
      border-bottom: none;
      width: 256px;
    }
  }

  @media (min-width: $desktop-width) {
    &--grey {
      width: 400px;
    }
  }
}

.advantages-item__wrapper-content {
  margin: 0 auto;
  padding-top: 78px;
  padding-bottom: 25px;
  width: 265px;

  &--right {
    padding-top: 40px;
    padding-bottom: 23px;
    width: 259px;
  }

  &--grey {
    padding-top: 30px;
    padding-bottom: 10px;
    width: 250px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 46px;
    padding-bottom: 30px;
    width: 256px;

    &--right {
      order: 2;
    }

    &--grey {
      padding: 0;
      width: 158px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 53px 67px 38px;
    width: 400px;

    &--grey {
      padding: 46px 57px 38px;
    }
  }
}

.advantages-item__content {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 162px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 265px;

    &--right {
      width: 220px;
    }
  }
}

.advantages-item__title {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin: 0 auto;
  margin-bottom: 5px;

  &--black {
    color: #000000;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 9px;

    &--black {
      margin-bottom: 9px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 157px;
  }
}

.advantages-item__count {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;

  &--grey {
    color: #333333;
  }

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
    margin-bottom: 22px;
    padding: 0;
  }
}

.advantages-item__text {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;

  &--grey {
    color: #333333;
  }

  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
    padding: 0;
  }
}

.photo-city {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    object-fit: cover;
    width: 512px;
    height: 256px;
  }

  @media (min-width: $desktop-width) {
    object-fit: cover;
    width: 800px;
    height: 256px;
  }
}
