.advantages-list {
  @include no-list;
  background-color: #eeeeee;
  position: relative;
}

@media (min-width: $tablet-width) {
  .advantages-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .advantages-list {
    width: 1200px;
  }
}
