.container {
  background-color: $subject-color;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  margin: 0 auto;
  padding: 0;
  width: 320px;
}

@media (min-width: $tablet-width) {
  .container {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1200px;
  }
}
