.features-list {
  @include no-list;
  background-color: #ffffff;
  padding-bottom: 22px;
  padding-top: 35px;
  text-align: left;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.features-list__item {
  margin: 0;
  margin-bottom: 28px;
  padding-left: 70px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
    width: 251px;
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 60px 45px 47px;
    text-align: center;
    width: 256px;

    &:nth-child(2) {
      order: 2;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 60px 45px 68px 57px;
    width: 400px;

    &:last-child {
      width: 400px;
    }
  }
}

.features-list__icon {
  background-repeat: no-repeat;
  fill: #81b3d2;
  position: absolute;

  &--house {
    background-size: 36px 37px;
    top: -10px;
    left: 22px;
    width: 36px;
    height: 37px;
  }

  &--food {
    background-size: 40px 35px;
    width: 40px;
    height: 35px;
    top: -6px;
    left: 19px;
  }

  &--souvenirs {
    background-size: 32px 38px;
    width: 32px;
    height: 38px;
    top: -12px;
    left: 25px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    position: static;

    &--house {
      width: 72px;
      height: 75px;
    }

    &--food {
      width: 77px;
      height: 75px;
    }

    &--souvenirs {
      width: 64px;
      height: 75px;
    }
  }
}

.features-list__wrapper {
  @media (min-width: $desktop-width) {
    width: 284px;
  }
}

.features-list__title {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 20px;
  }
}

.features-list__description {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.features-list__description br {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}
