.form-block {
  border-top: 1px solid #e5e5e5;
  margin: 0 auto;
  padding: 20px 0 25px 0;
  text-align: center;
  width: 280px;

  &--attraction {
    padding: 18px 0 25px 0;
  }

  &--review {
    padding: 18px 0 25px 0;
  }

  @media (min-width: $tablet-width) {
    border: 0;
    box-sizing: border-box;
    display: flex;
    text-align: left;
    margin-bottom: 53px;
    padding: 0;

    &--user {
      flex-direction: column;
      order: 2;
      padding-left: 57px;
    }

    &--contacts {
      flex-direction: column;
      order: 3;
      text-align: center;
      width: 100%;
    }

    &--attraction {
      flex-direction: column;
      margin-bottom: 38px;
      order: 4;
      text-align: center;
      width: 100%;
    }

    &--impression {
      flex-direction: column;
      order: 1;
    }

    &--review {
      flex-direction: column;
      margin-bottom: 58px;
      order: 5;
      text-align: center;
      width: 100%;
    }

    &--column {
      width: 324px;
    }

    &:last-child {
      padding: 0;
    }
  }
}

.form-block__column {
  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.form-block__fieldset {
  border: 0;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  @media (min-width: $tablet-width) {
    &--contacts {
      width: 100%;
    }

    &--attraction {
      width: 100%;
    }

    &--review {
      width: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    &--contacts {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
  }
}

.form-block__field {
  flex-grow: 1;
  position: relative;

  @media (min-width: $tablet-width) {
    &--contacts {
      margin-bottom: 14px;
    }
  }
}

.form-block__input {
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  height: 58px;
  line-height: 26px;
  outline: none;
  padding: 22px;
  position: relative;
  width: 100%;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    border: solid 4px #e5e5e5;
    padding: 18px;
  }
}

input::placeholder {
  color: #000000;
}

.form-block__legend {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin: 0 auto;
  margin-bottom: 20px;

  &--review {
    margin-bottom: 18px;
  }

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 21px;
    margin: 0;
    margin-bottom: 55px;

    &--contacts {
      margin-bottom: 24px;
    }

    &--attraction {
      margin: 0 auto;
      margin-bottom: 42px;
      width: 300px;
    }
  }
}

.form-block__label {
  align-items: center;
  color: #333333;
  font-size: 14px;
  font-weight: regular;
  line-height: 26px;
  margin-right: 14px;
  text-align: left;

  &--contacts {
    margin-bottom: 5px;
  }

  &--padding {
    padding-left: 22px;
  }

  @media (min-width: $tablet-width) {
    &--contacts {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    &--padding {
      padding: 0;
    }
  }
}

.form-block__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  &--column {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 15px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--review {
    margin-bottom: 48px;
  }

  @media (min-width: $tablet-width) {
    &--review {
      margin-bottom: 56px;
      width: 100%;
    }

    &--column {
      margin-bottom: 25px;
    }
  }

  @media (min-width: $desktop-width) {
    &--column {
      display: flex;
      flex-direction: row;
      width: 400px;

      :nth-child(2) {
        width: 480px;
      }
    }
  }
}

.form-block__column-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.form-block__textarea {
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  min-height: 160px;
  outline: none;
  padding: 12px 20px;
  resize: none;
  width: 100%;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    border: solid 4px #e5e5e5;
    padding: 8px 16px;
  }

  @media (min-width: $tablet-width) {
    padding: 17px 21px;

    &:focus {
      padding: 17px 21px;
    }
  }
}

textarea::placeholder {
  color: #000000;
}

.form-block__button-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.form-block__note {
  color: #000000;
  font-size: 14px;
}

.form-block__button {
  @media (min-width: $tablet-width) {
    align-self: flex-start;
    padding: 17px 0;
    width: 324px;
  }
}
