.form-list {
  @include no-list;
  box-sizing: border-box;
  text-align: left;
}

.form-list__item {
  padding: 18px 0 24px 80px;

  &:last-child {
    padding-bottom: 18px;
  }

  &--attraction {
    padding: 12px 0 42px 80px;
  }
}

.form-list__label {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  position: relative;
  text-align: left;
  text-transform: none;
  width: 100%;
  box-sizing: border-box;

  &--radio::before {
    content: "";
    background-color: #f2f2f2;
    border-radius: 50%;
    width: 51px;
    height: 51px;
    position: absolute;
    left: -78px;
    top: -15px;
  }

  &--checkbox::before {
    content: "";
    background-color: #f2f2f2;
    border-radius: 5px;
    position: absolute;
    left: -78px;
    top: -15px;
    width: 56px;
    height: 56px;

    &:hover,
    &:focus {
      background-color: #e5e5e5;
    }

    &:active {
      background-color: #d5d5d5;
    }
  }
}

.form-list__radio:checked + .form-list__label--radio::before {
  background-color: #333333;
  border-radius: 50%;
  border: 15px solid #f2f2f2;
  position: absolute;
  left: -78px;
  top: -15px;
  width: 51px;
  height: 51px;
}

.form-list__checkbox:checked + .form-list__label--checkbox::before {
  background-image: url("../img/icon-tick.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 24px 16px;
  height: 56px;
  width: 56px;

  &:hover,
  &:focus {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .form-list {
    &--attraction {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 auto;
      padding: 0 95px;
    }
  }

  .form-list__item {
    box-sizing: border-box;
    margin: 0;
    padding: 16px 0 16px 75px;
    margin-bottom: 15px;

    &--attraction {
      padding: 14px 0 14px 80px;
      width: 205px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-list {
    &--attraction {
      flex-wrap: nowrap;
      justify-content: flex-start;
      padding: 0;
    }
  }

  .form-list__item {
    &--attraction {
      padding: 14px 65px 14px 80px;
      width: 240px;
    }

    &--attraction:last-child {
      padding: 14px 0 14px 80px;
    }
  }
}
