.form-block {
  border-top: 1px solid #e5e5e5;
  margin: 0 auto;
  padding: 20px 0 25px 0;
  position: relative;
  text-align: center;
  width: 280px;

  &--attraction {
    padding: 18px 0 25px 0;
  }

  &--review {
    padding: 18px 0 25px 0;
  }

  @media (min-width: $tablet-width) {
    border: 0;
    box-sizing: border-box;
    display: flex;
    text-align: left;
    margin-bottom: 53px;
    padding: 0;

    &--user {
      flex-direction: column;
      order: 2;
      padding-left: 58px;
    }

    &--contacts {
      flex-direction: column;
      order: 3;
      text-align: center;
      width: 100%;
    }

    &--attraction {
      flex-direction: column;
      margin-bottom: 38px;
      order: 4;
      text-align: center;
      width: 100%;
    }

    &--impression {
      flex-direction: column;
      order: 1;
    }

    &--impression::after {
      content: "";
      background-color: #dbdbdb;
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
      height: 290px;
      z-index: 4;
    }

    &--review {
      flex-direction: column;
      margin-bottom: 58px;
      order: 5;
      text-align: center;
      width: 100%;
    }

    &--column {
      width: 324px;
    }

    &:last-child {
      padding: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;

    &--column {
      width: 480px;
    }

    &--contacts {
      margin-bottom: 33px;
    }

    &--user {
      padding-left: 80px;
    }
  }
}

.form-block__column {
  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.form-block__fieldset {
  border: 0;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  @media (min-width: $tablet-width) {
    &--contacts {
      width: 100%;
    }

    &--attraction {
      width: 100%;
    }

    &--review {
      width: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    &--contacts {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
  }
}

.form-block__field {
  flex-grow: 1;
  position: relative;

  @media (min-width: $tablet-width) {
    &--contacts {
      margin-bottom: 14px;
    }
  }
}

.form-block__wrapper-input {
  display: flex;
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 316px;
  }
}


.form-block__input {
  background-color: #f2f2f2;
  border: none;
  color: #000000;
  flex-grow: 1;
  font-size: 18px;
  font-weight: bold;
  height: 58px;
  line-height: 26px;
  outline: none;
  padding: 22px;
  position: relative;
  width: 100%;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    border: solid 4px #e5e5e5;
    padding: 18px;
  }

  @media (min-width: $desktop-width) {
    &--tel {
      width: 258px;
    }

    &--contacts {
      width: 258px;
    }
  }
}

input::placeholder {
  color: #000000;
}

.form-block__icon {
  display: inline-block;
  flex-shrink: 0;
  padding: 20px;
  min-width: 58px;
  min-height: 58px;
  background-color: #e6e6e6;
  vertical-align: top;

  &--tel {
    background-image: url("../img/icon-phone.svg");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
  }

  &--email {
    background-image: url("../img/icon-mail.svg");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
  }
}

.form-block__legend {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;

  &--review {
    margin-bottom: 18px;
  }

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 21px;
    margin: 0;
    margin-bottom: 55px;

    &::before {
      content: "";
      background-color: #dbdbdb;
      position: absolute;
      left: 0;
      top: 50%;
      width: 125px;
      height: 1px;
      z-index: 4;
    }

    &::after {
      content: "";
      background-color: #dbdbdb;
      position: absolute;
      right: 0;
      top: 50%;
      width: 125px;
      height: 1px;
      z-index: 4;
    }

    &--impression {
      &::before {
        background-color: transparent;
      }

      &::after {
        background-color: transparent;
      }
    }

    &--user {
      &::before {
        background-color: transparent;
      }

      &::after {
        background-color: transparent;
      }
    }

    &--contacts {
      margin-bottom: 24px;
    }

    &--attraction {
      margin: 0 auto;
      margin-bottom: 42px;
      width: 300px;

      &::before {
        left: 350px;
      }

      &::after {
        right: 350px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 280px;
    }

    &::after {
      width: 280px;
    }

    &--impression {
      padding-left: 80px;
    }

    &--contacts {
      margin-bottom: 74px;
    }
  }
}

.form-block__label {
  align-items: center;
  color: #333333;
  font-size: 14px;
  font-weight: regular;
  line-height: 26px;
  margin-right: 14px;
  text-align: left;

  &--contacts {
    margin-bottom: 5px;
  }

  &--padding {
    padding-left: 22px;
  }

  @media (min-width: $tablet-width) {
    &--contacts {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    &--padding {
      padding: 0;
    }

    &--contacts {
      margin-bottom: 0;
      margin-right: 18px;
    }
  }
}

.form-block__label--none {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.form-block__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &--column {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 15px;
    width: 100%;
  }

  &--review {
    margin-bottom: 48px;
  }

  @media (min-width: $tablet-width) {
    &--review {
      margin-bottom: 56px;
    }

    &--column {
      margin-bottom: 25px;
    }
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;

    &:last-child {
      margin-bottom: 20px;
    }

    &--column {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;
    }
  }
}

.form-block__column-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.form-block__textarea {
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  min-height: 160px;
  outline: none;
  padding: 12px 20px;
  resize: none;
  width: 100%;

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: #ffffff;
    border: solid 4px #e5e5e5;
    padding: 8px 16px;
  }

  @media (min-width: $tablet-width) {
    padding: 17px 21px;

    &:focus {
      padding: 17px 21px;
    }
  }
}

textarea::placeholder {
  color: #000000;
}

.form-block__button-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.form-block__note {
  display: none;

  @media (min-width: $tablet-width) {
    color: #000000;
    display: block;
    font-size: 14px;
  }
}

.form-block__button {
  @media (min-width: $tablet-width) {
    align-self: flex-start;
    padding: 17px 0;
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
  }
}
