.gallery-item {
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto;
  padding: 24px 0 14px 0;
  position: relative;
  text-align: left;
  width: 280px;

  &::before {
    content: "";
    background-color: #dbdbdb;
    position: absolute;
    left: -20px;
    top: 0;
    width: 320px;
    height: 1px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    width: 324px;

    &::before {
      background-color: transparent;
    }

    &--big-size {
      width: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 400px;

    &--big-size {
      width: 100%;
    }
  }
}

.gallery-item__signature {
  font-weight: bold;
}

.gallery-item__caption {
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #f2f2f2;
    margin-top: 0;
    padding: 16px 30px 15px 20px;

    &--big-size {
      padding: 16px 20px;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    width: 100%;
  }
}

.gallery-item__caption-wrapper {
  margin-bottom: 6px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.gallery-item__photographer {
  display: block;
  font-weight: normal;
  text-transform: none;
}

.gallery-item__like-wrapper {
  fill: rgba(0, 0, 0, 0.3);

  @media (min-width: $desktop-width) {
    fill: #ffffff;
  }
}

.gallery-item__like {
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-left: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-left: 5px;

    &--margin {
      margin-right: 8px;
    }
  }
}
