.hotel-search {
  margin: 0;
  padding: 0;
}

.hotel-search br {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.hotel-search__wrapper {
  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 49px;
  text-align: center;
  width: 280px;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 55px;
    width: 458px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 65px;
  }
}

.hotel-search__title {
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 30px;
  }
}

.hotel-search__description {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}

.hotel-search__button {
  display: block;
  margin: 0 auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.hotel-search__map {
  border: none;
  display: block;
  height: 350px;
  width: 100%;
}
