.main-banner {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 389px;
  position: relative;
  min-width: 320px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");

    &--photo {
      background-position: -225px -230px;
      background-size: auto 389px;
    }

    &--form {
      background-position: -225px -230px;
      background-size: auto 389px;
    }
  }

  ::before {
    content: "";
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 26px;
    position: absolute;
    right: 50%;
    bottom: 0;
    transform: translate(50%, 0);
    min-width: 320px;
  }

  &--photo {
    height: 158px;
  }

  &--form {
    height: 158px;
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    width: 768px;
    height: 518px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-position: center;
      background-size: cover;
    }

    ::before {
      content: "";
      background-image: url("../img/bg-intro-triangle-tablet.svg");
      height: 56px;
      width: 768px;
    }

    &--photo {
      background-position: bottom;
      height: 290px;
    }

    &--form {
      background-position: bottom;
      height: 290px;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    height: 518px;
    width: 1200px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }

    ::before {
      content: "";
      background-image: url("../img/bg-intro-triangle-desktop.svg");
      width: 1200px;
    }

    &--photo {
      height: 300px;
    }

    &--form {
      height: 300px;
    }
  }
}

.main-banner__description {
  margin: auto;

  &--photo {
    margin-top: 50px;
  }

  &--form {
    margin-top: 50px;
  }

  @media (min-width: $tablet-width) {
    &--photo {
      margin-top: 94px;
    }

    &--form {
      margin-top: 94px;
    }
  }

  @media (min-width: $desktop-width) {
    &--photo {
      margin-top: 100px;
    }

    &--form {
      margin-top: 100px;
    }
  }
}

.main-banner__description-image {
  width: 281px;

  &--photo {
    width: 229px;
  }

  &--form {
    width: 229px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
    width: 460px;

    &--photo {
      margin-bottom: 10px;
      width: 460px;
    }
  }
}
