.main-nav {
  margin: 0 auto;
  position: relative;

  &--closed .main-nav__toggle::before {
    background-image: url("../img/icon-menu.svg");
  }

  &--opened .main-nav__toggle::before {
    background-image: url("../img/icon-cross.svg");
  }

  @media (max-width: $mobile-width-only) {
    &--closed .site-list__item {
      display: none;
    }

    &--opened .user-list__item {
      display: none;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: 16px;
  right: 20px;
  z-index: 2;

  display: block;
  margin: 0;
  padding: 0;
  width: 23px;
  height: 23px;

  background-color: transparent;

  cursor: pointer;
  border: none;

  &::before {
    content: "";
    background-repeat: no-repeat;
    display: block;
    width: 23px;
    height: 23px;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .site_list {
  position: static;
  min-height: 0;
}

.main-nav--nojs .site-list__item {
  display: block;

  &--none {
    display: none;
  }
}
