.page-photo-content__wrapper {
  margin: 0 auto;
  padding: 23px 0 25px 0;
  text-align: center;
  width: 270px;

  @media (min-width: $tablet-width) {
    padding-top: 76px;
    padding-bottom: 68px;
    width: 428px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 115px;
  }
}

.page-photo-content__title {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 30px;
  }
}

.page-photo-content__description {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
}
