.page-footer {
  padding-top: 40px;
  padding-bottom: 23px;

  &--form {
    padding-top: 50px;
  }

  &--photo {
    padding-top: 30px;
  }
}

.page-footer__tag {
  color: #000000;
  display: block;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 35px;
  text-align: center;
}

.page-footer__social {
  margin-bottom: 45px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 60px;
  }

  .page-footer__tag {
    margin: 0;
  }

  .page-footer__social {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding: 36px 120px;

    &--form {
      padding: 50px 120px;
    }
  }
}
