.page-photo-content__wrapper {
  margin: 0 auto;
  padding: 44px 24px 33px 27px;
  text-align: center;
}

.page-photo-content__title {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 20px;
}

.page-photo-content__description {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .page-photo-content__wrapper {
    padding: 76px 170px 75px 170px;
  }

  .page-photo-content__title {
    font-size: 30px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 28px;
  }
}

@media (min-width: $desktop-width) {
  .page-photo-content__wrapper {
    padding: 113px 386px 77px 386px;
  }
}
