.promo-video {
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 85px;
  }
}

.promo-video-content__wrapper {
  margin: 0 auto;
  padding: 21px 0;
  text-align: center;
  width: 236px;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
    padding-bottom: 58px;
    width: 415px;
  }
}

.promo-video-content__title {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.promo-video-content__description {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}

.promo-video-content__video {
  margin: 0;
  margin-bottom: 107px;
  padding: 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    padding: 0 60px;
    display: block;
    max-width: 800px;
  }
}
