.review-content__wrapper {
  margin: 0 auto;
  padding: 41px 22px 22px 22px;
  text-align: center;
}

.review-content__title {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 20px;
}

.review-content_description {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .review-content__wrapper {
    padding: 51px 165px 84px 165px;
  }

  .review-content__title {
    font-size: 30px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 28px;
  }
}

@media (min-width: $desktop-width) {
  .review-content__wrapper {
    padding: 51px 381px 50px 380px;
  }
}
