.site-list {
  @include no-list;
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  min-width: 320px;
  text-align: center;
}

.site-list__item {
  box-shadow: 0 1px 0 0 $dark-shadow,
    inset 0 1px 0 0 $light-shadow;

  &--logo {
    background-color: $subject-color;
    order: 2;
  }
}

.site-list__link {
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $subject-color;
    border: none;
    font-size: 14px;
    line-height: 26px;
    min-height: 56px;
    min-width: 768px;
  }

  .site-list__item {
    box-shadow: none;
    margin: 0 auto;

    &--logo {
      background-color: $subject-color;
      order: 0;
    }
  }

  .site-list__link {
    color: $text-color;
    text-decoration: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    min-height: 56px;
    min-width: 1200px;
  }
}
