.site-list {
  @include no-list;
  background-color: #81b3d2;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  min-width: 320px;
  position: relative;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    &::before {
      content: "";
      background: rgb(0, 0, 0),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(107, 107, 112, 0.9990371148459384) 100%);
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0.2;
      width: 320px;
      height: 7px;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffffff;
    border: none;
    font-size: 14px;
    line-height: 26px;
    min-height: 56px;
  }
}

.site-list__item {
  box-shadow:
    0 -1px 0 0 rgba(1, 1, 1, 0.2),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  padding: 8px 0;

  &--logo {
    order: 2;
  }

  &--none {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  @media (min-width: $tablet-width) {
    align-self: center;
    box-shadow: none;
    height: 56px;
    padding: 15px 0;
    width: 153px;

    &--logo {
      background-color: #ffffff;
      order: 0;
      width: 156px;
    }

    &--none {
      display: block;
    }

    &:hover,
    &:focus {
      background-color: transparent;
    }

    &:active {
      background-color: transparent;
    }
  }

  @media (min-width: $desktop-width) {
    width: 240px;
  }
}

.site-list__link {
  color: #ffffff;
  text-decoration: none;

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    color: #333333;
    text-decoration: none;

    &:hover,
    &:focus {
      color: #81b3d2;
    }

    &:active {
      color: #b7b7b7;
    }

    &--active {
      color: #766357;

      &:hover,
      &:focus {
        color: #604e43;
      }

      &:active {
        color: rgba(118, 99, 87, 0.3);
      }
    }
  }
}
