.site-list {
  @include no-list;
  background-color: $primary-color;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  width: 320px;
}

.site-list__item {
  box-shadow: 0 1px 0 0 $dark-shadow,
    inset 0 1px 0 0 $light-shadow;
}

.site-list__link {
  color: #ffffff;
  text-decoration: none;
}
