.social__list {
  display: flex;
  justify-content: center;
  padding-top: 41px;
  padding-bottom: 40px;
  position: relative;
}

.social__item {
  background-color: #81b3d2;
  height: 48px;
  margin-right: 6px;
  position: relative;
  width: 46px;
}

.social__link--twitter::before {
  content: "";
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 14px;
  width: 18px;
}

.social__link--facebook::before {
  content: "";
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 18px;
  width: 9px;
}

.social__link--youtube::before {
  content: "";
  background-image: url("../img/icon-youtube.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 14px;
  width: 20px;
}
