@import "normalize.scss";

@import "blocks/no-list.scss";
@import "blocks/container.scss";
@import "blocks/advantages.scss";
@import "blocks/advantages-list.scss";
@import "blocks/advantages-item.scss";
@import "blocks/choice-list.scss";
@import "blocks/content-header.scss";
@import "blocks/copyright.scss";
@import "blocks/error-popup.scss";
@import "blocks/success-popup.scss";
@import "blocks/popup.scss";
@import "blocks/features-list.scss";
@import "blocks/form-block.scss";
@import "blocks/gallery-item.scss";
@import "blocks/gallery.scss";
@import "blocks/hotel-search.scss";
@import "blocks/main-banner.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-footer.scss";
@import "blocks/page-header.scss";
@import "blocks/page-main.scss";
@import "blocks/promo-video.scss";
@import "blocks/review-form.scss";
@import "blocks/review.scss";
@import "blocks/site-list.scss";
@import "blocks/social.scss";


body {
    background-color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    margin: 0 auto;
    padding: 0;
    text-transform: uppercase;
}

.visually-hidden {
    border: 0;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.button {
    background-color: #81b3d2;
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    padding: 17px 47px 19px 47px;
    text-decoration: none;
}
